Repository Xinyu302/ncnn, pull requests merged in 2024-02, with the labels that each got.

#6 Add quantize fp16
  src/layer/riscv/quantize_riscv.cpp
  src/layer/riscv/quantize_riscv.h
  src/layer/riscv/riscv_usability.h
  tests/testutil.cpp
Labels: riscv, test

#3 Add dequantize
  src/layer/riscv/dequantize_riscv.cpp
  src/layer/riscv/dequantize_riscv.h
Labels: riscv

#5 Add innerproduct
  src/layer/riscv/flatten_riscv.cpp
  src/layer/riscv/innerproduct_riscv.cpp
  src/layer/riscv/innerproduct_riscv.h
  src/layer/riscv/riscv_usability.h
Labels: riscv

#7 change int8 packn to 8
  src/layer/riscv/flatten_riscv.cpp
  src/layer/riscv/padding_riscv.cpp
  tests/testutil.cpp
Labels: riscv, test

#10 Fix pack
  src/layer/riscv/quantize_riscv.cpp
  tests/testutil.cpp
Labels: riscv, test

#13 finish requantize but has bug
  src/layer/riscv/requantize_leakyrelu_pack4.h
  src/layer/riscv/requantize_leakyrelu_pack8.h
  src/layer/riscv/requantize_relu_pack4.h
  src/layer/riscv/requantize_relu_pack8.h
  src/layer/riscv/requantize_riscv.cpp
  src/layer/riscv/requantize_riscv.h
  src/layer/riscv/riscv_usability.h
Labels: riscv

#14 Add basic conv
  src/layer/riscv/convolution_packed_int8.h
  src/layer/riscv/convolution_riscv.cpp
  src/layer/riscv/convolution_riscv.h
Labels: riscv

#16 Add shufflechannel
  src/layer/riscv/shufflechannel_riscv.cpp
  src/layer/riscv/shufflechannel_riscv.h
Labels: riscv

#17 Add ConvolutionDepthwise 3x3 packn asm
  src/layer/riscv/convolutiondepthwise_3x3_packn_fp16s.h
Labels: riscv

#23 Conv winograd int8
  src/layer/riscv/convolution_3x3_packn_int8.h
  src/layer/riscv/convolution_riscv.cpp
  src/layer/riscv/convolution_winograd_dot_packn_int8.h
  src/layer/riscv/convolution_winograd_transform_packn_int8.h
Labels: riscv

#22 Conv 3x3 pack1ton int8 try
  src/layer/riscv/convolution_3x3_pack1ton_int8.h
  src/layer/riscv/convolution_riscv.cpp
  src/mat.h
Labels: riscv, core
